 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>After graduating from Peking University, Yuqi started her study in computer science as a master student in GaTech, where she get in touch in web development. Trying out ASP.net and Django, she finally chosed Ruby on Rails as the key to web development.</p>
                </div>
                <div class="col-lg-4">
                    <p>Several months of coding training gave her a sharp sense of developing and debugging, which made her more creative, prudent, and eager to embrace new knowlege.</p>
                </div>
            </div>
        </div>
    </section>